{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <h>HOME</h>
        <ul>
           {% for f in form %}
               {% if f == 'register' %}
                <li><a href="register">{{ f }}</a></li>
               {% elif f == 'login' %}
                <li><a href="login">{{ f }}</a></li>
               {% endif %}
            {% endfor %}
        </ul>
{% endblock %}

{% block card%}
  <div class="container">
    <h1>Products</h1>
    <div class="row">
      {% for product in products %}
        {% if forloop.counter0|divisibleby:3 %}
          </div><div class="row mb-3">
        {% endif %}
        <div class="col-4">
          <div class="card">
            {% if product.image %}
              <img src="{{ product.image.url }}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
            {% else %}
              <img src="{% static 'no-image.jpg' %}" class="img-fluid img-thumbnail" alt="{{ product.title }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">
                Color: {{ product.color }}<br>
                Cost: {{ product.cost }}
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}
